# Notebook 3: Operaciones de Administración de Base de Datos relacional

En el ciclo de vida de una base de datos relacional, a menudo el administrador de la BD tiene que realizar ciertas operaciones de mantención. Mencionamos en particular:

1- Realizar una copia de seguridad de los datos

2- Crear usuarios y definir permisos de acceso a la BD

3- Modificar la estructura de la BD

4- Agregar restricciones o reglas de integridad sobre la estructura de los datos

## Ejercicio 1: Crear una BD de prueba básica

Para realizar los ejercicios siguientes, primero vamos a crear una BD de prueba básica, llamada "Valdivia". Esta base de datos está constituida por 3 tablas:

- PERSONA(pk_RUT, Nombre, Edad)   (ej.: "1, Juan, 20")

- LUGAR_DE_INTERES(pk_Lugar, Descripcion, Categoria, Latitud, Longitud)  (ej.; "1, Mercado Fluvial, Turismo, -39.81, -73.24")

- DESPLAZARSE(#pk_RUT, fecha, Latitud, Longitud)  (ej. "1, 30/09/2018 12:00:00, -39, -70")

1) Implementar la estructura de esta base de datos en MySQL indicando las claves primarias y foraneas y los tipos de datos

2) Insertar al menos 5 filas en cada tabla

3) ¿A qué tipo de aplicación podría servir esta base de datos?

In [2]:
import mysql.connector
import pandas as pd
from IPython.display import display,HTML

db_connection = mysql.connector.connect(user="root",host="localhost",password="password")
cursor = db_connection.cursor()

In [3]:
cursor.execute("CREATE DATABASE valdivia")

DatabaseError: 1007 (HY000): Can't create database 'valdivia'; database exists

In [4]:
cursor.execute("USE valdivia;")

In [5]:
CREATE TABLE PERSONA (
    pk_RUT INT, 
    nombre CHAR(20) , 
    edad INT, 
    PRIMARY KEY(pk_RUT) );

CREATE TABLE LUGAR_DE_INTERES (
    pk_lugar INT, 
    descripcion CHAR(50), 
    categoria CHAR(15), 
    latitud DECIMAL(4,2), 
    longitud DECIMAL(4,2), 
    PRIMARY KEY(pk_lugar));

CREATE TABLE DESPLAZARSE (
    pk_RUT INT,
    fecha TIMESTAMP, 
    latitud DECIMAL(4,2), 
    longitud DECIMAL(4,2),
    FOREIGN KEY(pk_RUT) REFERENCES PERSONA(pk_RUT), 
    PRIMARY KEY(pk_RUT));

SyntaxError: invalid syntax (<ipython-input-5-a5b7db8eb5df>, line 1)

In [6]:
#2(Agregar datos)
INSERT INTO PERSONA (pk_rut, name, edad) 
VALUES ("1","Felipe", "20"),  
VALUES ("2","Ignacio", "23"),
VALUES ("3","Alejandro", "14"),
VALUES ("4","Nicolas", "30"),
VALUES ("5","Jesus", "20");

INSERT INTO LUGAR_DE_INTERES(pk_lugar, Descripcion, Categoria, Latitud, Longitud)
VALUES ("1", "Museo arte contemporánea", "Museo", "-39.81", "-74.92"),
VALUES ("2", "Museo de la vida", "Museo", "-39.87", "-74.12"),
VALUES ("3", "Parque Saval", "Parque", "-33.81", "-75.92"),
VALUES ("4", "Parque botánico", "Parque", "-39.31", "-78.12"),
VALUES ("5", "Parque Santa Inés", "Parque", "-35.81", "-74.09");

INSERT INTO DESPLAZARSE(pk_rut, fecha, Latitud, Longitud)
VALUES ("1", "25-12", "-39.81", "-74.92"),
VALUES ("2", "26-12", "-39.87", "-74.12"),
VALUES ("3", "24-12", "-33.81", "-75.92"),
VALUES ("4", "23-11", "-39.31", "-78.12"),
VALUES ("5", "28-12", "-35.81", "-74.09");

SyntaxError: invalid syntax (<ipython-input-6-4fb4d105fba4>, line 2)

Esta base de datos podría servir a una aplicación destinada al Turismo.

## Ejercicio 2: Realizar una copia de seguridad de una BD y exportar datos

<a href="https://dev.mysql.com/doc/refman/8.0/en/backup-and-recovery.html"> Backup and Recovery in MySQL</a>

1) ¿Por qué hacer copias de seguridad de su base de datos?

2) Utilizar el comando <code>Mysqldump</code> para realizar una copia de su base de datos. ¿Cuál es el <i>output</i> de este comando?

3) En algunos casos, queremos simplemente exportar datos para poder utilizarlos en otros contextos. ¿En qué consiste el formato de datos CSV? ¿Cómo exportar datos al formato CSV desde MySQL? (ver: <a href="http://www.mysqltutorial.org/mysql-export-table-to-csv/">Tutorial</a>)

#1)
Las copias de seguridad de nuestra base de datos es necesaria para recuperar la información que ésta contiene,
en caso de que algún error ocurra.

#2
mysqldump -u root -p valdivia > valdivia_respaldo.sql  
El output de este comando es crear un nuevo archivo llamado valdivia_respaldo.sql, el cual contiene
la información de la base de datos valdivia.

#3)
El formato csv o valores separados por comas, es un tipo de documento utilizado para representar los datos 
en forma de tabla. Este tipo de formato separa las columnas por comas "," y las filas por saltos de línea.
Para exportar datos al formato CSV, primero se seleccionan los datos que quieren ser importados, luego se utiliza
el comando INTO OUTFILE seguido de la instrucción 'Carpeta/nombre_archivo.csv' donde ha de ponerse el nombre de
la carpeta, seguida del nombre del archivo .csv. A continuación se define la estructura de la tabla, con las
instrucciones FIELDS ENCLOSED BY, TERMINATED BY, ESCAPED BY y LINES TERMINATED BY.

## Ejercicio 3: Gestionar usuarios y privilegios de lectura y escritura

En la configuración por defecto de MySQL, existe un sólo usuario, llamado 'root', lo cual tiene todos los derechos. En término de seguridad es muy poco recomendable trabajar siempre con el usuario 'root' (en particular cuando se deja los passwords en el código o un archivo de parametros). 

1) ¿Cuáles son los tipos de privilegios en una base de datos relacional?

2) Crear un nuevo usuario y darle todos los privilegios sobre la base de datos 'Valdivia'

3) Crear un nuevo usuario, lo cual tendrá solamente acceso de lectura sobre la tabla Lugar_de_interes y Desplazarse

#1) Tipos de privilegios:
•    Privilegios relacionados con tablas: alter, create, delete, drop, index, insert, select, update

•    Algunos privilegios administrativos: file, proccess, super reload, replication client, grant option, shutdown

•    Algunos privilegios para fines diversos: lock tables, show databases, create temporary tables.

#2)

CREATE USER 'nuevo_usuario'@'localhost' IDENTIFIED BY 'password';
GRANT ALL PRIVILEGES ON valdivia.* TO 'nuevo_usuario'@'localhost';
FLUSH PRIVILEGES;

#3)
CREATE USER 'nuevo_usuariox'@'localhost' IDENTIFIED BY 'password';
GRANT SELECT ON valdivia.LUGAR_DE_INTERES TO 'nuevo_usuariox'@'localhost';
GRANT SELECT ON valdivia.DESPLAZARSE TO 'nuevo_usuariox'@'localhost';
FLUSH PRIVILEGES;

## Ejercicio 4: Modificar la estructura de una Base de Datos

Supongamos que queremos modificar la estructura de la base de datos 'Valdivia'. 

1) Modificar la BD (sin borrarla) para agregar un campo 'nivel de estudio' en la tabla 'Persona'.

2) Modificar la BD (sin borrarla) para dejar la posibilidad de tener varias categorías para describir un lugar de interés (implica crear una tabla adicional)

3) Agregar una restricción para que las columnas "Latitud" y "Longitud" nuncan sean NULL

In [ ]:
#1)
ALTER TABLE PERSONA ADD COLUMN nivel_de_estudio varchar(30);
#2)
ALTER TABLE LUGAR_DE_INTERES DROP COLUMN categoria;
CREATE TABLE CATEGORIA(
Nombre_categoria VARCHAR(45),
PRIMARY KEY  (Nombre_categoria)
);
CREATE TABLE CATEGORIA_PERTENECIENTE (
nom_cate VARCHAR(45) NOT NULL,
pk_lug INT,
FOREIGN KEY (nom_cate) REFERENCES CATEGORIA (Nombre_categoria),
FOREIGN KEY (pk_lug) REFERENCES LUGAR_DE_INTERES (pk_lugar)
);

#3)
ALTER TABLE LUGAR_DE_INTERES MODIFY latitud DECIMAL(4,2) NOT NULL;
ALTER TABLE LUGAR_DE_INTERES MODIFY longitud DECIMAL(4,2) NOT NULL;

## Ejercicio 5 (opcional): Innovación para Valdivia - Smart City

1) Revisar el concurso "Desafio Smart City": https://www.innoving.cl/smartcity

2) Considerando que la empresa Telefonica del Sur podría darle acceso a ciertos datos telefónicos de la Ciudad, imaginar un escenario de innovación basado sobre una base de datos similar a aquella que creamos.